#bookicon {
    width: 50px;
    height: auto;
    display: inline-block;
    vertical-align: middle;
}

.footer-image {
    height: 20px;
    width: auto;
}


.body{
    padding-left: 20px;
}


.tags{
     font-family: Arial, Helvetica, sans-serif;
     font-size: 15px;
    
}

.id_bloque{
    text-align:center;
    padding-top: 20px;

}


footer {
    display: felx;
    bottom: 0;
    width: 100%;
    margin: auto;
    flex-wrap: wrap;

}

tbody {
    background-color: rgb(241, 241, 241);
   
}

#table_libros{ 

    width: auto;
    height: auto;
    font-size: 1.1em;
    font-style: normal;
    padding: 7%;
    margin:7%;
    justify-content: center;
    text-align: center;
    

}

#table_libros tr:hover{ 
    background: rgb(199, 224, 238);

}

#sinopsis{
    width: 600px; 
   
}

/* Desktops and laptops ----------- */
@media only screen 
and (max-width : 1199px) {
    #titulo{
        display: none;
    }
}